body {width:100%;}

#loading_end {
  display: flex;
  justify-content: center;
  }

.main{

}

.status{
    position:fixed;
    right:0;
    width:25%;
    height:100%;
    border-left:solid  3px #009999;
}

.side_margin{
    margin-left:10px;
}

#logout{margin-bottom:30px;}
#login {display:none;}


button{
  text-decoration: none;
  height:30px;
  width: 100px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background: #2bb6c1;
  transition: 0.3s;
}