<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Chatアプリ</title>
</head>

<body>

    <div id="loading_start" style="height:100%;backgroud-color:#e3f4fd;text-align:center">
        <img src="img/gia.gif" alt="">
    </div>

    <!-- コンテンツ表示画面 -->
    <div id="loading_end" style="display:none">
        <button id="logout">ログアウト</button>
        <div id="user_view"></div>
        <div>名前
            <input type="text" name="" id="username">
        </div>
        <div>
            <textarea name="" id="text" rows="6"></textarea>
            <button id="send">送信</button>
        </div>
        <!-- リスト表示 -->
        <div id="output"></div>
    </div>


    <!--/ コンテンツ表示画面 -->



    <!-- 以下JavaScript領域 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- 以下Firebase -->
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script src="js/chat.js"></script>
</body>

</html>